@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name = "viewport" content="widt=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <title>Party!</title>
    </head>
    <body>
        <div class="text-center">
            <h3>У нас будет захватывающая вечеринка!</h3>
            <h4>И ВЫ приглашены!</h4>
            <a class="btn btn-primary" asp-action="RsvpForm">Заполните форму</a>
        </div>
    </body>
</html>